{{ ansible_managed | comment }}
SURREAL_URL=ws://open-notebook-db:8000/rpc
SURREAL_USER={{ open_notebook_db_user }}
SURREAL_PASSWORD={{ vault_open_notebook_db_password }}
SURREAL_NAMESPACE=open_notebook
SURREAL_DATABASE=open_notebook
OPEN_NOTEBOOK_ENCRYPTION_KEY={{ vault_open_notebook_encryption_key }}
API_URL=http://notebook.{{ mms_traefik_domain }}
{% if open_notebook_instance_password %}
OPEN_NOTEBOOK_PASSWORD={{ open_notebook_instance_password }}
{% endif %}
TZ={{ mms_timezone }}
