---
- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart quadlet service
  ansible.builtin.systemd:
    name: "{{ service.name }}.service"
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"
