# {{ ansible_managed }}
[Unit]
Description=MMS Auto-Deploy Timer ({{ autodeploy_group_name }})

[Timer]
OnCalendar={{ autodeploy_group_schedule }}
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
