---
testapp:
  name: testapp
  description: "Test Application"
  image: "docker.io/library/nginx:alpine"
  publish_ports:
    - "8080:80"
  volumes:
    - "/opt/mms/config/testapp:/config:Z"
  environment:
    - "PUID=3000"
    - "PGID=3000"
    - "TZ=America/New_York"
