---
- name: Converge
  hosts: all
  become: true
  pre_tasks:
    - name: Prepare mms user and directories
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../../../../molecule/shared/prepare_mms_user.yml"
  tasks:
    - name: Include open_notebook role (setup only)
      ansible.builtin.include_role:
        name: open_notebook
        tasks_from: setup.yml
