---
- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart loki
  ansible.builtin.systemd:
    name: loki.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart alloy
  ansible.builtin.systemd:
    name: alloy.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart grafana
  ansible.builtin.systemd:
    name: grafana.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart prometheus
  ansible.builtin.systemd:
    name: prometheus.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Restart podman-exporter
  ansible.builtin.systemd:
    name: podman-exporter.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment: "{{ mms_systemd_env }}"
