---
- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ mms_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ mms_uid }}/bus"

- name: Restart immich-postgres
  ansible.builtin.systemd:
    name: immich-postgres.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ mms_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ mms_uid }}/bus"

- name: Restart immich-redis
  ansible.builtin.systemd:
    name: immich-redis.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ mms_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ mms_uid }}/bus"

- name: Restart immich-server
  ansible.builtin.systemd:
    name: immich-server.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ mms_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ mms_uid }}/bus"

- name: Restart immich-ml
  ansible.builtin.systemd:
    name: immich-ml.service
    state: restarted
    scope: user
  become: true
  become_user: "{{ mms_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ mms_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ mms_uid }}/bus"
