{{ ansible_managed | comment }}

DB_HOSTNAME=immich-postgres
DB_PORT=5432
DB_DATABASE_NAME={{ immich_db_name }}
DB_USERNAME={{ immich_db_user }}
REDIS_HOSTNAME=immich-redis
REDIS_PORT=6379
IMMICH_MACHINE_LEARNING_URL=http://immich-ml:3003
TZ={{ mms_timezone }}
