{{ ansible_managed | comment }}

[Unit]
Description=Immich - Server
After=network-online.target
After=immich-postgres.service
After=immich-redis.service

[Container]
Image={{ immich_server_image }}
Network={{ mms_network_name }}.network
ContainerName=immich-server
PublishPort={{ immich_port }}:2283
Volume={{ immich_upload_dir }}:/upload
EnvironmentFile={{ mms_config_dir }}/immich/immich.env
Secret=immich-db-password,type=env,target=DB_PASSWORD
HealthCmd=curl -sf http://localhost:2283/api/server/ping || exit 1
HealthInterval=60s
NoNewPrivileges=true
AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
