---
# NFS mounts from TrueNAS
mms_nfs_server: 192.168.5.2
mms_nfs_mounts:
  - src: "{{ mms_nfs_server }}:/mnt/zpool0/media/movies"
    dest: /data/media/movies
    opts: "rw,hard,intr,_netdev,nfsvers=4"
  - src: "{{ mms_nfs_server }}:/mnt/zpool0/media/series"
    dest: /data/media/series
    opts: "rw,hard,intr,_netdev,nfsvers=4"
  - src: "{{ mms_nfs_server }}:/mnt/zpool0/media/music"
    dest: /data/media/music
    opts: "rw,hard,intr,_netdev,nfsvers=4"
  - src: "{{ mms_nfs_server }}:/mnt/zpool0/download/usenet"
    dest: /data/usenet
    opts: "rw,hard,intr,_netdev,nfsvers=4"
  - src: "{{ mms_nfs_server }}:/mnt/zpool0/photos"
    dest: /data/photos
    opts: "rw,hard,intr,_netdev,nfsvers=4"

# Services to deploy (matches filenames in services/)
mms_services:
  - prowlarr
  - radarr
  - sonarr
  - lidarr
  - sabnzbd
  - jellyfin

# Traefik reverse proxy
mms_traefik_domain: media.drc.nz
mms_traefik_routes:
  prowlarr:
    subdomain: prowlarr
    container: prowlarr
    port: 9696
  radarr:
    subdomain: radarr
    container: radarr
    port: 7878
  sonarr:
    subdomain: sonarr
    container: sonarr
    port: 8989
  lidarr:
    subdomain: lidarr
    container: lidarr
    port: 8686
  sabnzbd:
    subdomain: sabnzbd
    container: sabnzbd
    port: 8080
  jellyfin:
    subdomain: jellyfin
    container: jellyfin
    port: 8096
  immich:
    subdomain: immich
    container: immich-server
    port: 2283
