{{ ansible_managed | comment }}

[Unit]
Description=Traefik - Reverse Proxy
After=network-online.target

[Container]
ContainerName=traefik
Image={{ traefik_image }}
Network={{ mms_network_name }}.network
PublishPort={{ traefik_port }}:{{ traefik_port }}
Volume={{ traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:Z,ro
Volume={{ traefik_config_dir }}/dynamic:/etc/traefik/dynamic:Z,ro
HealthCmd=traefik healthcheck --ping
HealthInterval=30s
NoNewPrivileges=true

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
