---
- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ autodeploy_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Enable autodeploy timers
  ansible.builtin.systemd:
    name: "mms-autodeploy-{{ item.key }}.timer"
    enabled: true
    state: started
    scope: user
  become: true
  become_user: "{{ autodeploy_user }}"
  environment: "{{ mms_systemd_env }}"
  loop: "{{ autodeploy_groups | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
