---
- name: Deploy all MMS services
  hosts: mms
  become: true

  environment: "{{ mms_systemd_env }}"

  tasks:
    - name: Deploy each service
      ansible.builtin.include_role:
        name: quadlet_service
      vars:
        service_name: "{{ item }}"
      loop: "{{ mms_services }}"

    - name: Deploy Immich stack
      ansible.builtin.include_role:
        name: immich
