---
- name: Deploy all MMS services
  hosts: mms
  become: true

  environment: "{{ mms_systemd_env }}"

  tasks:
    - name: Set effective service list  # noqa: var-naming[no-role-prefix]
      ansible.builtin.set_fact:
        _effective_quadlet_services: >-
          {{ (deploy_services is defined) | ternary(
             mms_services | intersect(deploy_services),
             mms_services) }}
        _deploy_immich: "{{ (deploy_services is not defined) or ('immich' in deploy_services) }}"
        _deploy_traefik: "{{ (deploy_services is not defined) or ('traefik' in deploy_services) }}"

    - name: Deploy each service  # noqa: var-naming[no-role-prefix]
      ansible.builtin.include_role:
        name: quadlet_service
      vars:
        service_name: "{{ item }}"
      loop: "{{ _effective_quadlet_services }}"

    - name: Deploy Immich stack
      ansible.builtin.include_role:
        name: immich
      when: _deploy_immich | bool

    - name: Deploy Traefik reverse proxy
      ansible.builtin.include_role:
        name: traefik
      when: _deploy_traefik | bool
