---
- name: Migrate services from LXC to MMS VM
  hosts: mms
  become: true

  pre_tasks:
    - name: Validate source_host is provided
      ansible.builtin.assert:
        that:
          - source_host is defined
          - source_host | length > 0
        fail_msg: "source_host is required. Usage: ansible-playbook playbooks/migrate.yml -e source_host=<lxc-hostname>"

    - name: Add source LXC to in-memory inventory
      ansible.builtin.add_host:
        name: "{{ source_host }}"
        groups: migration_sources
        ansible_user: root
      changed_when: false

  roles:
    - migrate
