---
- name: Converge
  hosts: all
  become: true
  pre_tasks:
    - name: Create mms group
      ansible.builtin.group:
        name: mms
        gid: 3000

    - name: Create mms user
      ansible.builtin.user:
        name: mms
        uid: 3000
        group: mms

    - name: Create quadlet directory
      ansible.builtin.file:
        path: /home/mms/.config/containers/systemd
        state: directory
        owner: mms
        group: mms
        mode: "0755"
  tasks:
    - name: Include quadlet_service role
      ansible.builtin.include_role:
        name: quadlet_service
