---
- name: Converge
  hosts: all
  become: true
  pre_tasks:
    - name: Prepare mms user and directories
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../../../../molecule/shared/prepare_mms_user.yml"
  tasks:
    - name: Include quadlet_service role
      ansible.builtin.include_role:
        name: quadlet_service
