---
- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ backup_user }}"
  environment: "{{ mms_systemd_env }}"

- name: Enable backup timer
  ansible.builtin.systemd:
    name: mms-backup.timer
    enabled: true
    state: started
    scope: user
  become: true
  become_user: "{{ backup_user }}"
  environment: "{{ mms_systemd_env }}"
